<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://technobraingroup.com/">
          TECHNO BRAIN GROUP
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://technobraingroup.com/about/">
          About Us
        </a>
      </li>
     
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made by
      <a href="https://www.linkedin.com/in/kevin-kinyua/" target="_blank"> Kevin Kinyua</a> &
      <a href="https://www.linkedin.com/in/thuo-njoroge-129b0b178/" target="_blank"> Thuo Njoroge </a>
      for a Blockchain.
    </div>
  </div>
</footer>