
<div class=" content">

    <div class=" row">
        <div class=" col-md-12">
          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title">Batch History </h4>
            </div>
            <div class=" card-body">
              <!-- <div class=" table-responsive"></div> -->
                <table class=" table tablesorter" id="">
                    
                        <thead>
                          <tr>
                            <!-- <th class="text-center">#ID</th> -->
                            <th>Product Name</th>
                            <th>Product Desc</th>
                            <th>Product Type</th>
                            <th>Package Type</th>
                            <th>Net Weight (kgs)</th>
                            <th>Product Price</th>
                            <th>Taxed amount</th>
                            
                           
                            <th class="text-right">History</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <!-- <td class="text-center">1</td> -->
                            <td>OMO</td>
                            <td>Powdered Detergent</td>
                            <td>Convenience</td>
                            <td>Poly Bag</td>
                            <td>0.5</td>
                            <td>500</td>
                            <td>80</td>
                           
                            
                            <td class="td-actions text-right">
                               
                                    <!-- <button
                                      rel="tooltip"
                                      class=" btn btn-primary btn-round"
                                      (click)="showNotification('bottom', 'right')">
                                      Generate Batch Codes
                                    </button> -->
                                  
                             
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open History</button>
                              
                            </td>
                          </tr>


                          <tr>
                              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                                                      
<!-- <div class="container"> -->
 
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
    
      <!-- Modal content-->
      <!-- <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div> -->
                          </tr>
                          
                          
                        </tbody>
                      </table>
              </div>
            </div>
          </div>
        </div>
  </div>

 
    